.chat-container{
  font-family: sans-serif;
  height: calc(100vh - 64px);
  display: flex;
}
.chat-header{
  background: #037bfe;
  color: #ffffff;
  text-align: center;
  height: 64px;
  font-size: 24px;
  line-height: 64px;
}
.chat-container .main{
  height: 100%;
  flex-grow: 1;
}
.chat-container .main .conversation-title{
  height: 64px;
  line-height: 64px;
  border-bottom: 1px solid #dbdbdb;
  text-align: center;
  font-size: 24px;
  color: #333;
}
.chat-container .conversation-detail {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.chat-container .conversation-detail .list-message {
  flex-grow: 1;
}
#sendMessageForm {
  height: 64px;
  line-height: 64px;
  border-top: 1px solid #dbdbdb;
  display: flex;
}
#sendMessageForm input {
  border: none;
  flex-grow: 1;
  padding-left: 20px;
  outline: 0;
}
#sendMessageForm button{
  background: none;
  border: none;
  font-size: 24px;
  color: #027bfd;
}
.chat-container .list-message{
  padding: 10px;
  overflow-y: auto;
}
.chat-container .list-message .content{
  border-radius: 10px;
  max-width: 40%;
  word-break: break-word;
  padding: 10px;
  width: max-content;
}
.chat-container .message.their .content{
  background: #dbdbdb;
}
.chat-container .message.mine .content{
  background: #027bfd;
  color: #fff;
}
.chat-container .message.mine{
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.chat-container .aside-left{
  border-right: 1px solid #dbdbdb;
  font-size: 14px;
  width: 15%;
}
.chat-container .conversation{
  padding: 10px;
}
.chat-container .conversation.current{
  background: #dbdbdb;
}
  .chat-container .aside-left .new-conversations{
    height: 64px;
    border-bottom: 1px solid #dbdbdb;
    line-height: 64px;
    text-align: center;
  }
  .chat-container .aside-right{
    width: 15%;
    border-left: 1px solid #dbdbdb;
    padding: 10px;
  }
.aside-right.list-users, .aside-right .input-wrapper{
  margin-bottom: 10px;
}